# New Def

지난번 만든 함수에는 user_list를 만들어서 data가 일부 소실되는 바람에 submission 값도 소실되는 결과가 있었음.

따라서 이번에는 ID 중복을 drop하지 않는 방향으로 진행해 볼 것임

또한, occyp_type을 미리 처리해주고 ID에 occyp_type을 추가하는 시도를 해볼 것임.

+ 함수를 처리하는 중 print로 data를 확인하는 부분이 있는데, 이부분을 color 변경을 통해서 주목성을 높임

## 필요한 라이브러리 호출

In [24]:

import pandas as pd
import numpy as np
from tqdm import tqdm
import warnings
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

## 데이터 전처리 과정

In [64]:
# 경로 설정 (dataset을 저장하는 경로임.)
path = 'data/'

train = pd.read_csv('{}train.csv'.format(path))
test = pd.read_csv('{}test.csv'.format(path))

In [65]:
#쓸모없는 칼럼 삭제
for df in (train,test):
    # df.drop(['FLAG_MOBIL'], axis=1, inplace=True)   
    df.drop(columns=['index'], inplace=True)
    
del df

### 1. 나이, 고용일자를 이용하여 파생변수 형성

In [66]:
# 1st

def year_month_total(df_1, df_2, column, column_name):
    """[나이, 고용연수 파생변수를 생성하기 위한 함수입니다.]

    Args:
        df_1 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        df_2 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        column ([생성할 컬럼의 기준 컬럼 명]): [생성할 컬럼의 기준 컬럼 명을 입력해주세요]
        column_name ([생성할 컬럼의 이름]): [연단위, 연+월단위로 표시된 파생변수 이름입니다.]
    """
    # 변수 설정
    
    df_list = []
    df_list.append(df_1)
    df_list.append(df_2)
    names = ['train', 'test']
    
    # 입력한 컬럼이 DAYS_BIRTH인 경우 If로 처리
    
    if (column == 'DAYS_BIRTH') == True:    
        for dataset,name in zip(df_list,names):
            dataset['DAYS_BIRTH_MOD'] = dataset[column]-dataset['begin_month']*30
            dataset['{}_year'.format(column_name)] = dataset['DAYS_BIRTH_MOD'].abs()//365
            dataset['{}_month'.format(column_name)] = (dataset['DAYS_BIRTH_MOD'].abs()%365)//30
            dataset['{}_total'.format(column_name)] = dataset['{}_year'.format(column_name)] + round(dataset['{}_month'.format(column_name)] * (1/12), 2)
            # dataset.drop(columns=['{}_month'.format(column_name)], inplace=True)
            dataset['{}_month'.format(column_name)] = dataset['DAYS_BIRTH_MOD'].abs()//30
        
            print('{0}set에 {1}_year, {1}_month, {1}_total, {2} 컬럼을 생성하였습니다. \n'.format(name,column_name,'DAYS_BIRTH_MOD'))
    
    # 입력한 컬럼이 DAYS_EMPLOYED인 경우 else로 처리 (occyp_type 처리를 위한 작업이므로 1번째로 수행)
    
    else:
        for dataset,name in zip(df_list,names):
            dataset['DAYS_EMPLOYED_MOD'] = dataset['DAYS_EMPLOYED']-dataset['begin_month']*30
            print('{}set에 근무일자가 잘못기입된 '.format(name) +
                  '\033[96m' + '{} cases'.format(len(dataset[dataset['DAYS_EMPLOYED_MOD']>=0])) + 
                  '\033[0m' + '에 대한 처리를 시작합니다.')
            # Begin_month 처리한 사람들 대상 (카드를 생성한 시점에 무직일 확률이 높은 사람들 + 애초에 무직)
            dataset.loc[(dataset['DAYS_EMPLOYED_MOD']>0), 'DAYS_EMPLOYED_MOD'] = 0
            a = len(dataset.loc[(dataset['DAYS_EMPLOYED_MOD']==0)])
            # Emplyed 시간이 애초에 없는 사람 대상 (애초에 무직)
            dataset['DAYS_EMPLOYED'] = dataset['DAYS_EMPLOYED'].replace(365243, 0)
            b = len(dataset.loc[(dataset['DAYS_EMPLOYED']==0)])
            print('\033[92m'+'원래 무직인 사람들의 수 : {}'.format(b))
            print('카드를 생성한 시점에 무직일 확률일 높은 사람들 : {}'.format(a-b) + '\033[0m')
            dataset['{}_year'.format(column_name)] = dataset['DAYS_EMPLOYED_MOD'].abs()//365
            dataset['{}_month'.format(column_name)] = (dataset['DAYS_EMPLOYED_MOD'].abs()%365)//30
            dataset['{}_total'.format(column_name)] = dataset['{}_year'.format(column_name)] + round(dataset['{}_month'.format(column_name)] * (1/12), 2)
            # dataset.drop(columns=['{}_month'.format(column_name)], inplace=True)
            dataset['{}_month'.format(column_name)] = dataset['DAYS_EMPLOYED_MOD'].abs()//30
        
            print('{0}set에 {1}_year, {1}_month, {1}_total, {2} 컬럼을 생성하였습니다. \n'.format(name,column_name,'DAYS_BIRTH_MOD'))

        
    del df_list,names
    return dataset.head(1)

In [67]:
year_month_total(train, test,'DAYS_BIRTH','age')

trainset에 age_year, age_month, age_total, DAYS_BIRTH_MOD 컬럼을 생성하였습니다.

testset에 age_year, age_month, age_total, DAYS_BIRTH_MOD 컬럼을 생성하였습니다.

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,work_phone,phone,email,occyp_type,family_size,begin_month,DAYS_BIRTH_MOD,age_year,age_month,age_total
0,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,...,0,1,0,NaN,2.0,-60.0,-20190.0,55.0,673.0,55.25

In [68]:
year_month_total(train, test,'DAYS_EMPLOYED','work')

trainset에 근무일자가 잘못기입된 8357 cases에 대한 처리를 시작합니다.
원래 무직인 사람들의 수 : 4438
카드를 생성한 시점에 무직일 확률일 높은 사람들 : 3919
trainset에 work_year, work_month, work_total, DAYS_BIRTH_MOD 컬럼을 생성하였습니다.

testset에 근무일자가 잘못기입된 3169 cases에 대한 처리를 시작합니다.
원래 무직인 사람들의 수 : 1697
카드를 생성한 시점에 무직일 확률일 높은 사람들 : 1472
testset에 work_year, work_month, work_total, DAYS_BIRTH_MOD 컬럼을 생성하였습니다.

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,family_size,begin_month,DAYS_BIRTH_MOD,age_year,age_month,age_total,DAYS_EMPLOYED_MOD,work_year,work_month,work_total
0,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,...,2.0,-60.0,-20190.0,55.0,673.0,55.25,0.0,0.0,0.0,0.0

### 2. 직업 Nan 값 처리

In [69]:
# 2nd

def occyp_type_nan(df_1, df_2):
    """[직업 컬럼 내의 Nan 값을 처리합니다.]

    Args:
        df_1 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        df_2 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
    """
    # 변수 설정
    
    df_list = []
    df_list.append(df_1)
    df_list.append(df_2)
    names = ['train', 'test']

    # 무직자 처리 함수
    
    for dataset,name in zip(df_list,names):
        dataset['occyp_type'] = dataset['occyp_type'].fillna('Nan')
        
        print('직업 컬럼의 ' +
              '\033[92m' + 'Nan value {}명 중 '.format(len(dataset.loc[dataset['occyp_type'] == 'Nan'])) +
              '\033[96m' + '{}명이 실제 고용일수가 0일입니다. '.format(len(dataset.loc[(dataset['occyp_type'] == 'Nan') & (dataset['DAYS_EMPLOYED'] == 0)])) + 
              '\033[0m'+ '따라서 retired로 처리합니다.')
        
        dataset.loc[(dataset['occyp_type'] == 'Nan') & (dataset['DAYS_EMPLOYED'] == 0), 'occyp_type'] = 'retired'
        
        # 무직자는 아니지만 데이터가 없는 경우
        
        print('나머지 {}명 데이터는 no_data로 처리합니다.'.format(len(dataset.loc[dataset['occyp_type'] == 'Nan'])))
        
        dataset.loc[dataset['occyp_type'] == 'Nan', 'occyp_type'] = 'no_data'
        
        print('{}set의 직업 Nan value를 처리하였습니다.\n'.format(name))
        
    del df_list, names
    return dataset.head(1)

occyp_type_nan(train, test)

직업 컬럼의 Nan value 8171명 중 4438명이 실제 고용일수가 0일입니다. 따라서 retired로 처리합니다.
나머지 3733명 데이터는 no_data로 처리합니다.
trainset의 직업 Nan value를 처리하였습니다.

직업 컬럼의 Nan value 3152명 중 1697명이 실제 고용일수가 0일입니다. 따라서 retired로 처리합니다.
나머지 1455명 데이터는 no_data로 처리합니다.
testset의 직업 Nan value를 처리하였습니다.

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,family_size,begin_month,DAYS_BIRTH_MOD,age_year,age_month,age_total,DAYS_EMPLOYED_MOD,work_year,work_month,work_total
0,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,...,2.0,-60.0,-20190.0,55.0,673.0,55.25,0.0,0.0,0.0,0.0

### 3. ID컬럼 생성

In [70]:
def ID_col(df_1, df_2):
    """[데이터 셋 전처리 함수입니다.]

    Args:
        df_1 ([Dataset]): [train 데이터셋을 입력해주세요]
        df_2 ([Dataset]): [test 데이터셋을 입력해주세요]
    """
    
    # 변수 설정
     
    df_list = []
    df_list.append(df_1)
    df_list.append(df_2)
    a = []
    change_credit = 0
    names = ['train', 'test']

    # ID 생성
    
    for name, dataset, in zip(names, df_list):
    # for dataset in df_list:
        dataset['ID'] = dataset['gender'].astype(str) +'.'+ dataset['car'].astype(str)+'.' + dataset['reality'].astype(str)+'.' + \
                dataset['child_num'].astype(str)+'.' + dataset['income_total'].astype(str) +'.'+ dataset['income_type'].astype(str) +'.'+ \
                dataset['edu_type'].astype(str)+'.' + dataset['family_type'].astype(str)+'.' + dataset['house_type'].astype(str) +'.'+ \
                dataset['DAYS_BIRTH'].astype(str) +'.'+ dataset['DAYS_EMPLOYED'].astype(str) +'.'+ dataset['work_phone'].astype(str) +'.'+ \
                dataset['phone'].astype(str) +'.'+ dataset['email'].astype(str) +'.' + dataset['family_size'].astype(str)+'.' + dataset['occyp_type'].astype(str)
        
        dataset = dataset.sort_values(['ID','begin_month'], ascending=[True, False])
        dataset.reset_index(inplace=True)
        dataset.drop(columns={'index'}, inplace=True)

        # OrdinalEncoder로 ID 변환
        
        print('\033[96m' + '해당 Data 내의 고유 ID 수는 {}입니다. '.format(dataset['ID'].nunique()) + 
              '\033[0m' + 'OrdinalEncoder를 이용힌 변환을 시작합니다.')
        encode = OrdinalEncoder()
        dataset[['ID']] = encode.fit_transform(dataset[['ID']])

        # Nth_card 컬럼 추가 (ID가 같은데 카드 개수가 여러 개인 사람을 대상으로 몇 번째 카드를 만들었는지 생성해준다)
        
        print('Column(Nth_card)을 생성합니다.')
        for i in tqdm(range(dataset['ID'].nunique())):
            Nth_card = len(dataset[dataset['ID']==i]) + 1
            
            while Nth_card > 0:
                Nth_card = Nth_card -1
                a.append(Nth_card)
                if Nth_card == 1:
                    break
                
        dataset['Nth_card'] = a        
        a.clear()
        print('\033[92m' + '신규로 카드를 개설한 사람의 수 : {}'.format(dataset[dataset['begin_month']==0.0]['ID'].nunique()) +
              '\033[0m')
        
        # Credit이 좋아지지 않고 악화된 경우를 체크하는 부분 (begin_month기준으로 Nth_card를 추가해줬으므로 인덱스 값을 기준으로 시행한다.)
        
        if (dataset['ID'].nunique() > 8000)==True:
            print('credit 정보를 확인하고 시간이 지나며 credit이 악화된 사례가 있는지 확인합니다.')
            for i in tqdm(range(dataset['ID'].nunique())):
                num = dataset.loc[dataset['ID'] == i]['credit'].to_list()
                for j in range(len(num)-1):
                    if (num[j] <= num[j+1]) == True:
                        pass
                    else :
                        change_credit += 1
                        break
            print('\033[96m'+'{}명 (전체 인원 중 {:.2f}%)은 credit이 개선되지 않고 악화된 사례가 존재합니다.'.format(change_credit, 
                                                                        (change_credit/dataset['ID'].nunique())*100) + 
                  '\033[0m')  
        else:
            print('\033[96m' + 'credit 정보가 없는 testset입니다.' + 
                  '\033[0m')
        
        # dataset 저장부분
        
        print('dataset(ID_list_{})을 저장합니다. \n'.format(name))    
        dataset.to_csv('{}ID_list_{}.csv'.format(path, name))
        
    
    del names, a
    return dataset.head(5)

In [71]:
ID_col(train, test)

해당 Data 내의 고유 ID 수는 8759입니다. OrdinalEncoder를 이용힌 변환을 시작합니다.
Column(Nth_card)을 생성합니다.

100%|██████████| 8759/8759 [00:04<00:00, 1913.81it/s]

신규로 카드를 개설한 사람의 수 : 214
credit 정보를 확인하고 시간이 지나며 credit이 악화된 사례가 있는지 확인합니다.

100%|██████████| 8759/8759 [00:05<00:00, 1724.20it/s]

1842명 (전체 인원 중 21.03%)은 credit이 개선되지 않고 악화된 사례가 존재합니다.
dataset(ID_list_train)을 저장합니다.

해당 Data 내의 고유 ID 수는 5585입니다. OrdinalEncoder를 이용힌 변환을 시작합니다.
Column(Nth_card)을 생성합니다.

100%|██████████| 5585/5585 [00:02<00:00, 1980.46it/s]

신규로 카드를 개설한 사람의 수 : 82
credit 정보가 없는 testset입니다.
dataset(ID_list_test)을 저장합니다.

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,DAYS_BIRTH_MOD,age_year,age_month,age_total,DAYS_EMPLOYED_MOD,work_year,work_month,work_total,ID,Nth_card
0,F,N,N,0,103500.0,Pensioner,Higher education,Married,House / apartment,-21701,...,-21611.0,59.0,720.0,59.17,0.0,0.0,0.0,0.0,0.0,3
1,F,N,N,0,103500.0,Pensioner,Higher education,Married,House / apartment,-21701,...,-20321.0,55.0,677.0,55.67,0.0,0.0,0.0,0.0,0.0,2
2,F,N,N,0,103500.0,Pensioner,Higher education,Married,House / apartment,-21701,...,-20111.0,55.0,670.0,55.08,0.0,0.0,0.0,0.0,0.0,1
3,F,N,N,0,103500.0,Pensioner,Higher education,Single / not married,House / apartment,-24543,...,-23703.0,64.0,790.0,64.92,0.0,0.0,0.0,0.0,1.0,1
4,F,N,N,0,103500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-20123,...,-19793.0,54.0,659.0,54.17,0.0,0.0,0.0,0.0,2.0,2

In [72]:
train = pd.read_csv('{}ID_list_train.csv'.format(path))
test = pd.read_csv('{}ID_list_test.csv'.format(path))

### faimly_size 조정

In [73]:
def replace_value_family(df_1, df_2, num_of_outlier):
    """[Family_size의 outlier를 대치해주는 작업을 시행합니다.]

    Args:
        df_1 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        df_2 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        num_of_outlier ([outlier_standard]): [family_size의 outlier 기준을 입력하세요]
    """
    # 변수 설정
    
    df_list = []
    df_list.append(df_1)
    df_list.append(df_2)
    names = ['train', 'test']

    # family_size Outlier를 처리하는 작업
    
    for dataset,name in zip(df_list,names):
        
        print('family_size와 child_num의 다중공선성 문제로 child_num 컬럼을 삭제해줍니다.')
        
        dataset.drop(columns=['child_num'], inplace=True)
        
        print('\033[96m' + 'family_size {}명 이상인 사람의 수 : {}'.format(num_of_outlier, 
                                                                      len(dataset.loc[dataset['family_size'] >= num_of_outlier])) +
              '\033[0m')
        
        sub = dataset.loc[dataset['family_size']>= num_of_outlier]
        
        for i in tqdm(range(len(sub))):
        
            a = int(dataset[dataset['family_type'] == sub['family_type'].values[i]].mean()['family_size'])
            
            dataset.loc[(dataset['family_size']>= num_of_outlier), 'family_size'] = a
        
        # 잘 처리되었는지 확인하는 부분
        
        print('\033[96m' + 'family_size {}명 이상인 사람의 수 : {}'.format(num_of_outlier, 
                                                        len(dataset.loc[dataset['family_size'] >= num_of_outlier]))+
              '\033[0m')

        # family_size를 조정하고 난 후에 1인당 소득으로 total_income을 scale_down 해줌.
        
        print('1인당 소득으로 소득 수준을 조정합니다.')
        
        dataset['income_mean'] = dataset['income_total'] / dataset['family_size']
        
        print('{} 데이터 셋 처리 완료.\n'.format(name))
    
    del sub,df_list, names
    return dataset.head(1)

replace_value_family(train, test, 7)

family_size와 child_num의 다중공선성 문제로 child_num 컬럼을 삭제해줍니다.
family_size 7명 이상인 사람의 수 : 15

100%|██████████| 15/15 [00:06<00:00,  2.44it/s]

family_size 7명 이상인 사람의 수 : 0
1인당 소득으로 소득 수준을 조정합니다.
train 데이터 셋 처리 완료.

family_size와 child_num의 다중공선성 문제로 child_num 컬럼을 삭제해줍니다.
family_size 7명 이상인 사람의 수 : 10

100%|██████████| 10/10 [00:00<00:00, 10.14it/s]

family_size 7명 이상인 사람의 수 : 0
1인당 소득으로 소득 수준을 조정합니다.
test 데이터 셋 처리 완료.

,Unnamed: 0,gender,car,reality,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,age_year,age_month,age_total,DAYS_EMPLOYED_MOD,work_year,work_month,work_total,ID,Nth_card,income_mean
0,0,F,N,N,103500.0,Pensioner,Higher education,Married,House / apartment,-21701,...,59.0,720.0,59.17,0.0,0.0,0.0,0.0,0.0,3,51750.0

In [74]:
def contact_num(df_1, df_2):
    """[Family_size의 outlier를 대치해주는 작업을 시행합니다.]

    Args:
        df_1 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
        df_2 ([DataFrame]): [데이터 프레임 이름을 입력해주세요]
    """
    # 변수 설정
    
    df_list = []
    df_list.append(df_1)
    df_list.append(df_2)
    names = ['train', 'test']
    
    for dataset,name in zip(df_list,names):
        dataset['contact_num'] = dataset['FLAG_MOBIL'] + dataset['work_phone'] + dataset['phone'] + dataset['email']
        print('\033[96m' + "{}set에 contact_num 컬럼을 추가하였습니다.".format(name))
        dataset.drop(columns=['FLAG_MOBIL', 'work_phone', 'phone', 'email'], inplace=True)
        print('\033[0m'+"'FLAG_MOBIL', 'work_phone', 'phone', 'email' 컬럼을 삭제하였습니다.")

In [75]:
contact_num(train, test)

trainset에 contact_num 컬럼을 추가하였습니다.
'FLAG_MOBIL', 'work_phone', 'phone', 'email' 컬럼을 삭제하였습니다.
testset에 contact_num 컬럼을 추가하였습니다.
'FLAG_MOBIL', 'work_phone', 'phone', 'email' 컬럼을 삭제하였습니다.

In [76]:
names = ['train', 'test']

for name,dataset in zip(names, [train, test]):
    dataset.drop(columns=['DAYS_BIRTH','DAYS_EMPLOYED'], inplace=True)
    dataset.to_csv('{}ID_list_{}_ver2.csv'.format(path,name))

## 인코딩 시행

In [51]:
train = pd.read_csv('{}ID_list_train_ver2.csv'.format(path))
test = pd.read_csv('{}ID_list_test_ver2.csv'.format(path))

In [52]:
for df in (train, test):
    df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1',
                     'age_year', 'work_year', 'age_month', 'work_month',
                     'DAYS_BIRTH_MOD','DAYS_EMPLOYED_MOD'], inplace=True)

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        26457 non-null  object
 1   car           26457 non-null  object
 2   reality       26457 non-null  object
 3   income_total  26457 non-null  float64
 4   income_type   26457 non-null  object
 5   edu_type      26457 non-null  object
 6   family_type   26457 non-null  object
 7   house_type    26457 non-null  object
 8   occyp_type    26457 non-null  object
 9   family_size   26457 non-null  float64
 10  begin_month   26457 non-null  float64
 11  credit        26457 non-null  float64
 12  age_total     26457 non-null  float64
 13  work_total    26457 non-null  float64
 14  ID            26457 non-null  float64
 15  Nth_card      26457 non-null  int64
 16  income_mean   26457 non-null  float64
 17  contact_num   26457 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.6+ MB

In [29]:
numerical_feats = train.dtypes[train.dtypes != "object"].index.tolist()
numerical_feats.remove('credit')
print("Number of Numerical features: ", len(numerical_feats))

categorical_feats = train.dtypes[train.dtypes == "object"].index.tolist()
print("Number of Categorical features: ", len(categorical_feats))

Number of Numerical features:  9
Number of Categorical features:  8

In [30]:
numerical_feats

['income_total',
 'family_size',
 'begin_month',
 'age_total',
 'work_total',
 'ID',
 'Nth_card',
 'income_mean',
 'contact_num']

In [31]:
categorical_feats

['gender',
 'car',
 'reality',
 'income_type',
 'edu_type',
 'family_type',
 'house_type',
 'occyp_type']

In [32]:
for df in [train,test]:
    df['income_total'] = np.log1p(1+df['income_total'])
    df['income_mean'] = np.log1p(1+df['income_mean'])

In [33]:
encoder = OrdinalEncoder()
train[categorical_feats] = encoder.fit_transform(train[categorical_feats], train['credit'])
test[categorical_feats] = encoder.transform(test[categorical_feats])

In [34]:
from sklearn.cluster import KMeans

kmeans_train = train.drop(['credit'], axis=1)
kmeans = KMeans(n_clusters=36, random_state=42).fit(kmeans_train)
train['cluster'] = kmeans.predict(kmeans_train)
test['cluster'] = kmeans.predict(test)

In [35]:
numerical_feats.remove('income_total')
scaler = StandardScaler()
train[numerical_feats] = scaler.fit_transform(train[numerical_feats])
test[numerical_feats] = scaler.transform(test[numerical_feats])

In [36]:
train.drop(columns=['ID','occyp_type'], inplace=True)
test.drop(columns=['ID','occyp_type'], inplace=True)

In [41]:
a = ['income_type', 'edu_type', 'family_type', 'house_type', 'gender','car','reality']
train[a] = train[a].astype(int)
test[a] = test[a].astype(int)

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        26457 non-null  int64
 1   car           26457 non-null  int64
 2   reality       26457 non-null  int64
 3   income_total  26457 non-null  float64
 4   income_type   26457 non-null  int64
 5   edu_type      26457 non-null  int64
 6   family_type   26457 non-null  int64
 7   house_type    26457 non-null  int64
 8   family_size   26457 non-null  float64
 9   begin_month   26457 non-null  float64
 10  credit        26457 non-null  float64
 11  age_total     26457 non-null  float64
 12  work_total    26457 non-null  float64
 13  Nth_card      26457 non-null  float64
 14  income_mean   26457 non-null  float64
 15  contact_num   26457 non-null  float64
 16  cluster       26457 non-null  int32
dtypes: float64(9), int32(1), int64(7)
memory usage: 3.3 MB

In [46]:
n_est = 2000
seed = 42
n_fold = 15
n_class = 3

target = 'credit'
X = train.drop(target, axis=1)
y = train[target]
X_test = test

from sklearn.metrics import log_loss
from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostClassifier, Pool

In [47]:
skfold = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)
folds=[]
for train_idx, valid_idx in skfold.split(X, y):
        folds.append((train_idx, valid_idx))

cat_pred = np.zeros((X.shape[0], n_class))
cat_pred_test = np.zeros((X_test.shape[0], n_class))
cat_cols = ['income_type', 'edu_type', 'family_type', 'house_type'] #'gender', 'car', 'reality']#, 'occyp_type']
for fold in range(n_fold):
  print(f'\n----------------- Fold {fold} -----------------\n')
  train_idx, valid_idx = folds[fold]
  X_train, X_valid, y_train, y_valid = X.iloc[train_idx], X.iloc[valid_idx], y[train_idx], y[valid_idx]
  train_data = Pool(data=X_train, label=y_train, cat_features=cat_cols)
  valid_data = Pool(data=X_valid, label=y_valid, cat_features=cat_cols)

  model_cat = CatBoostClassifier()
  model_cat.fit(train_data, eval_set=valid_data, use_best_model=True, early_stopping_rounds=100, verbose=100)
  
  cat_pred[valid_idx] = model_cat.predict_proba(X_valid)
  cat_pred_test += model_cat.predict_proba(X_test) / n_fold
  print(f'CV Log Loss Score: {log_loss(y_valid, cat_pred[valid_idx]):.6f}')
    
print(f'\tLog Loss: {log_loss(y, cat_pred):.6f}')

----------------- Fold 0 -----------------

Learning rate set to 0.115128

Custom logger is already specified. Specify more than one logger at same time is not thread safe.

0:	learn: 1.0354427	test: 1.0361760	best: 1.0361760 (0)	total: 136ms	remaining: 2m 16s
100:	learn: 0.7818156	test: 0.8067317	best: 0.8066847 (99)	total: 6.85s	remaining: 1m
200:	learn: 0.7520353	test: 0.7991288	best: 0.7991288 (200)	total: 13.1s	remaining: 51.9s
300:	learn: 0.7279632	test: 0.7922224	best: 0.7920414 (299)	total: 19.7s	remaining: 45.8s
400:	learn: 0.7073004	test: 0.7873350	best: 0.7873118 (393)	total: 26s	remaining: 38.9s
500:	learn: 0.6878418	test: 0.7842492	best: 0.7840985 (498)	total: 32.2s	remaining: 32.1s
600:	learn: 0.6686790	test: 0.7813809	best: 0.7813367 (598)	total: 38.6s	remaining: 25.6s
700:	learn: 0.6523709	test: 0.7792060	best: 0.7791462 (699)	total: 45s	remaining: 19.2s
800:	learn: 0.6352404	test: 0.7777562	best: 0.7772311 (765)	total: 51.4s	remaining: 12.8s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.7772310533
bestIteration = 765

Shrink model to first 766 iterations.
CV Log Loss Score: 0.777231

----------------- Fold 1 -----------------

Learning rate set to 0.115128
0:	learn: 1.0353883	test: 1.0364560	best: 1.0364560 (0)	total: 61ms	remaining: 1m
100:	learn: 0.7818380	test: 0.8018098	best: 0.8018098 (100)	total: 6.19s	remaining: 55.1s
200:	learn: 0.7529263	test: 0.7923391	best: 0.7923391 (200)	total: 12.6s	remaining: 50s
300:	learn: 0.7309961	test: 0.7876693	best: 0.7874990 (298)	total: 18.9s	remaining: 43.9s
400:	learn: 0.7081529	test: 0.7846677	best: 0.7845514 (399)	total: 25.2s	remaining: 37.7s
500:	learn: 0.6873174	test: 0.7804156	best: 0.7804156 (500)	total: 31.6s	remaining: 31.5s
600:	learn: 0.6693630	test: 0.7788922	best: 0.7786678 (588)	total: 37.8s	remaining: 25.1s
700:	learn: 0.6518376	test: 0.7784436	best: 0.7776242 (662)	total: 43.9s	remaining: 18.7s
800:	learn: 0.6360036	test: 0.7766429	best: 0.7765267 (781)	total: 49.9s	remaining: 12.4s
900:	learn: 0.6215940	test: 0.7758993	best: 0.7755024 (857)	total: 56.4s	remaining: 6.2s
999:	learn: 0.6066027	test: 0.7733677	best: 0.7731582 (995)	total: 1m 2s	remaining: 0us

bestTest = 0.7731581842
bestIteration = 995

Shrink model to first 996 iterations.
CV Log Loss Score: 0.773158

----------------- Fold 2 -----------------

Learning rate set to 0.115128
0:	learn: 1.0355161	test: 1.0356577	best: 1.0356577 (0)	total: 54.7ms	remaining: 54.7s
100:	learn: 0.7826295	test: 0.7919345	best: 0.7919345 (100)	total: 5.64s	remaining: 50.2s
200:	learn: 0.7528607	test: 0.7818118	best: 0.7818118 (200)	total: 11.6s	remaining: 46s
300:	learn: 0.7276843	test: 0.7741073	best: 0.7741073 (300)	total: 17.6s	remaining: 40.8s
400:	learn: 0.7056331	test: 0.7705874	best: 0.7704996 (397)	total: 24.2s	remaining: 36.1s
500:	learn: 0.6861587	test: 0.7680682	best: 0.7676047 (487)	total: 30.4s	remaining: 30.3s
600:	learn: 0.6672847	test: 0.7645156	best: 0.7644738 (598)	total: 37.8s	remaining: 25.1s
700:	learn: 0.6506617	test: 0.7627112	best: 0.7627112 (700)	total: 43.8s	remaining: 18.7s
800:	learn: 0.6349371	test: 0.7599711	best: 0.7599506 (799)	total: 49.8s	remaining: 12.4s
900:	learn: 0.6200595	test: 0.7604060	best: 0.7591390 (816)	total: 55.9s	remaining: 6.14s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.7591389682
bestIteration = 816

Shrink model to first 817 iterations.
CV Log Loss Score: 0.759139

----------------- Fold 3 -----------------

Learning rate set to 0.115128
0:	learn: 1.0355753	test: 1.0352681	best: 1.0352681 (0)	total: 74.1ms	remaining: 1m 13s
100:	learn: 0.7798142	test: 0.8012241	best: 0.8012241 (100)	total: 5.87s	remaining: 52.2s
200:	learn: 0.7490497	test: 0.7912050	best: 0.7912050 (200)	total: 11.9s	remaining: 47.2s
300:	learn: 0.7260441	test: 0.7884334	best: 0.7879169 (284)	total: 17.9s	remaining: 41.6s
400:	learn: 0.7039678	test: 0.7856590	best: 0.7856590 (400)	total: 23.9s	remaining: 35.7s
500:	learn: 0.6828973	test: 0.7829461	best: 0.7826484 (498)	total: 29.7s	remaining: 29.6s
600:	learn: 0.6653963	test: 0.7815121	best: 0.7815121 (600)	total: 35.8s	remaining: 23.8s
700:	learn: 0.6480412	test: 0.7797264	best: 0.7795473 (692)	total: 42.2s	remaining: 18s
800:	learn: 0.6308645	test: 0.7764035	best: 0.7764035 (800)	total: 48.1s	remaining: 12s
900:	learn: 0.6157893	test: 0.7765340	best: 0.7758285 (856)	total: 54.3s	remaining: 5.97s
999:	learn: 0.6018874	test: 0.7753924	best: 0.7753924 (999)	total: 1m	remaining: 0us

bestTest = 0.7753923693
bestIteration = 999

CV Log Loss Score: 0.775392

----------------- Fold 4 -----------------

Learning rate set to 0.115128
0:	learn: 1.0354621	test: 1.0358660	best: 1.0358660 (0)	total: 72.3ms	remaining: 1m 12s
100:	learn: 0.7801166	test: 0.8041932	best: 0.8041199 (98)	total: 5.92s	remaining: 52.7s
200:	learn: 0.7516064	test: 0.7929281	best: 0.7929281 (200)	total: 11.8s	remaining: 46.7s
300:	learn: 0.7247057	test: 0.7831645	best: 0.7831645 (300)	total: 17.7s	remaining: 41.1s
400:	learn: 0.7021190	test: 0.7771471	best: 0.7769902 (395)	total: 23.8s	remaining: 35.5s
500:	learn: 0.6847670	test: 0.7734055	best: 0.7734055 (500)	total: 29.9s	remaining: 29.7s
600:	learn: 0.6689677	test: 0.7703339	best: 0.7703339 (600)	total: 35.8s	remaining: 23.8s
700:	learn: 0.6514945	test: 0.7656990	best: 0.7656990 (700)	total: 41.9s	remaining: 17.9s
800:	learn: 0.6345370	test: 0.7632483	best: 0.7630875 (797)	total: 48s	remaining: 11.9s
900:	learn: 0.6196181	test: 0.7598203	best: 0.7597566 (898)	total: 54s	remaining: 5.94s
999:	learn: 0.6053111	test: 0.7567991	best: 0.7565909 (990)	total: 1m	remaining: 0us

bestTest = 0.7565908573
bestIteration = 990

Shrink model to first 991 iterations.
CV Log Loss Score: 0.756591

----------------- Fold 5 -----------------

Learning rate set to 0.115128
0:	learn: 1.0356133	test: 1.0348805	best: 1.0348805 (0)	total: 72ms	remaining: 1m 11s
100:	learn: 0.7800077	test: 0.8009785	best: 0.8009598 (99)	total: 5.91s	remaining: 52.6s
200:	learn: 0.7502964	test: 0.7968863	best: 0.7968863 (200)	total: 12s	remaining: 47.6s
300:	learn: 0.7250482	test: 0.7945057	best: 0.7942375 (295)	total: 17.8s	remaining: 41.4s
400:	learn: 0.7031545	test: 0.7917950	best: 0.7916127 (397)	total: 23.8s	remaining: 35.6s
500:	learn: 0.6834774	test: 0.7890288	best: 0.7890288 (500)	total: 29.9s	remaining: 29.8s
600:	learn: 0.6657107	test: 0.7866655	best: 0.7865044 (599)	total: 36s	remaining: 23.9s
700:	learn: 0.6504988	test: 0.7858358	best: 0.7857466 (697)	total: 41.8s	remaining: 17.8s
800:	learn: 0.6355878	test: 0.7846129	best: 0.7839581 (777)	total: 48s	remaining: 11.9s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.783958105
bestIteration = 777

Shrink model to first 778 iterations.
CV Log Loss Score: 0.783958

----------------- Fold 6 -----------------

Learning rate set to 0.115128
0:	learn: 1.0355667	test: 1.0352009	best: 1.0352009 (0)	total: 50.4ms	remaining: 50.4s
100:	learn: 0.7816985	test: 0.7959816	best: 0.7959816 (100)	total: 5.72s	remaining: 51s
200:	learn: 0.7525913	test: 0.7868175	best: 0.7865961 (195)	total: 11.6s	remaining: 46s
300:	learn: 0.7282074	test: 0.7833828	best: 0.7827055 (280)	total: 17.4s	remaining: 40.5s
400:	learn: 0.7069553	test: 0.7772984	best: 0.7772984 (400)	total: 23.4s	remaining: 35s
500:	learn: 0.6876598	test: 0.7746890	best: 0.7743578 (489)	total: 29.4s	remaining: 29.3s
600:	learn: 0.6693756	test: 0.7707395	best: 0.7705732 (598)	total: 35.3s	remaining: 23.5s
700:	learn: 0.6530121	test: 0.7684526	best: 0.7683372 (698)	total: 41.2s	remaining: 17.6s
800:	learn: 0.6354599	test: 0.7677301	best: 0.7671192 (726)	total: 47.3s	remaining: 11.8s
900:	learn: 0.6212900	test: 0.7671158	best: 0.7662858 (869)	total: 53.4s	remaining: 5.87s
999:	learn: 0.6068096	test: 0.7664221	best: 0.7658770 (976)	total: 59.3s	remaining: 0us

bestTest = 0.7658769837
bestIteration = 976

Shrink model to first 977 iterations.
CV Log Loss Score: 0.765877

----------------- Fold 7 -----------------

Learning rate set to 0.115128
0:	learn: 1.0355331	test: 1.0354878	best: 1.0354878 (0)	total: 57.3ms	remaining: 57.3s
100:	learn: 0.7801596	test: 0.7959331	best: 0.7958112 (96)	total: 5.75s	remaining: 51.2s
200:	learn: 0.7495913	test: 0.7864718	best: 0.7864718 (200)	total: 11.7s	remaining: 46.3s
300:	learn: 0.7263791	test: 0.7824853	best: 0.7823350 (298)	total: 17.8s	remaining: 41.2s
400:	learn: 0.7054305	test: 0.7784333	best: 0.7784333 (400)	total: 24s	remaining: 35.8s
500:	learn: 0.6870598	test: 0.7770792	best: 0.7763377 (471)	total: 30.3s	remaining: 30.2s
600:	learn: 0.6686835	test: 0.7749333	best: 0.7749005 (598)	total: 36.6s	remaining: 24.3s
700:	learn: 0.6509041	test: 0.7740167	best: 0.7738383 (632)	total: 42.8s	remaining: 18.2s
800:	learn: 0.6354628	test: 0.7727406	best: 0.7724345 (788)	total: 48.7s	remaining: 12.1s
900:	learn: 0.6209134	test: 0.7725014	best: 0.7722408 (887)	total: 54.8s	remaining: 6.02s
999:	learn: 0.6067585	test: 0.7701923	best: 0.7701098 (987)	total: 1m	remaining: 0us

bestTest = 0.7701097784
bestIteration = 987

Shrink model to first 988 iterations.
CV Log Loss Score: 0.770110

----------------- Fold 8 -----------------

Learning rate set to 0.115128
0:	learn: 1.0356710	test: 1.0346103	best: 1.0346103 (0)	total: 63.8ms	remaining: 1m 3s
100:	learn: 0.7805039	test: 0.7901179	best: 0.7901179 (100)	total: 6.03s	remaining: 53.7s
200:	learn: 0.7529047	test: 0.7821652	best: 0.7821515 (199)	total: 12.1s	remaining: 47.9s
300:	learn: 0.7277731	test: 0.7735216	best: 0.7733536 (298)	total: 18.1s	remaining: 42s
400:	learn: 0.7071386	test: 0.7688797	best: 0.7684471 (396)	total: 24s	remaining: 35.8s
500:	learn: 0.6852826	test: 0.7650040	best: 0.7650040 (500)	total: 29.9s	remaining: 29.8s
600:	learn: 0.6665413	test: 0.7626708	best: 0.7625966 (598)	total: 36.1s	remaining: 24s
700:	learn: 0.6483942	test: 0.7596801	best: 0.7594947 (695)	total: 42.2s	remaining: 18s
800:	learn: 0.6336167	test: 0.7568797	best: 0.7568797 (800)	total: 48.2s	remaining: 12s
900:	learn: 0.6194529	test: 0.7536914	best: 0.7536634 (898)	total: 54.2s	remaining: 5.95s
999:	learn: 0.6054159	test: 0.7503779	best: 0.7503779 (999)	total: 60s	remaining: 0us

bestTest = 0.7503778972
bestIteration = 999

CV Log Loss Score: 0.750378

----------------- Fold 9 -----------------

Learning rate set to 0.115128
0:	learn: 1.0351519	test: 1.0380862	best: 1.0380862 (0)	total: 65.1ms	remaining: 1m 5s
100:	learn: 0.7779975	test: 0.8146290	best: 0.8146290 (100)	total: 6.03s	remaining: 53.6s
200:	learn: 0.7497878	test: 0.8054487	best: 0.8054487 (200)	total: 11.9s	remaining: 47.5s
300:	learn: 0.7244452	test: 0.7977618	best: 0.7974138 (297)	total: 17.9s	remaining: 41.6s
400:	learn: 0.7028983	test: 0.7938008	best: 0.7936711 (361)	total: 23.9s	remaining: 35.6s
500:	learn: 0.6820214	test: 0.7905880	best: 0.7904913 (498)	total: 29.8s	remaining: 29.6s
600:	learn: 0.6627209	test: 0.7875756	best: 0.7875756 (600)	total: 35.8s	remaining: 23.8s
700:	learn: 0.6462357	test: 0.7863291	best: 0.7862134 (697)	total: 41.8s	remaining: 17.9s
800:	learn: 0.6315238	test: 0.7860749	best: 0.7857144 (741)	total: 48s	remaining: 11.9s
900:	learn: 0.6158970	test: 0.7836600	best: 0.7836600 (900)	total: 54.9s	remaining: 6.03s
999:	learn: 0.6017697	test: 0.7818293	best: 0.7814480 (988)	total: 1m 4s	remaining: 0us

bestTest = 0.7814479771
bestIteration = 988

Shrink model to first 989 iterations.
CV Log Loss Score: 0.781448

----------------- Fold 10 -----------------

Learning rate set to 0.115128
0:	learn: 1.0356529	test: 1.0347109	best: 1.0347109 (0)	total: 86.4ms	remaining: 1m 26s
100:	learn: 0.7792756	test: 0.7882510	best: 0.7882510 (100)	total: 6.94s	remaining: 1m 1s
200:	learn: 0.7513560	test: 0.7786232	best: 0.7786232 (200)	total: 13s	remaining: 51.5s
300:	learn: 0.7271554	test: 0.7700875	best: 0.7700660 (299)	total: 19s	remaining: 44.1s
400:	learn: 0.7073611	test: 0.7654827	best: 0.7653767 (397)	total: 24.9s	remaining: 37.2s
500:	learn: 0.6870728	test: 0.7594870	best: 0.7594870 (500)	total: 30.9s	remaining: 30.7s
600:	learn: 0.6686900	test: 0.7564090	best: 0.7564090 (600)	total: 36.8s	remaining: 24.4s
700:	learn: 0.6511320	test: 0.7525673	best: 0.7523688 (697)	total: 42.9s	remaining: 18.3s
800:	learn: 0.6345747	test: 0.7491679	best: 0.7490259 (799)	total: 48.9s	remaining: 12.1s
900:	learn: 0.6184986	test: 0.7462169	best: 0.7460800 (895)	total: 55.1s	remaining: 6.05s
999:	learn: 0.6032581	test: 0.7427337	best: 0.7427337 (999)	total: 1m 1s	remaining: 0us

bestTest = 0.7427336772
bestIteration = 999

CV Log Loss Score: 0.742734

----------------- Fold 11 -----------------

Learning rate set to 0.115128
0:	learn: 1.0353118	test: 1.0368528	best: 1.0368528 (0)	total: 57.6ms	remaining: 57.5s
100:	learn: 0.7811841	test: 0.8116809	best: 0.8115576 (92)	total: 5.7s	remaining: 50.8s
200:	learn: 0.7484181	test: 0.8065380	best: 0.8065380 (200)	total: 11.6s	remaining: 46.2s
300:	learn: 0.7221550	test: 0.8019100	best: 0.8015727 (291)	total: 17.7s	remaining: 41.2s
400:	learn: 0.7006740	test: 0.7994632	best: 0.7992624 (391)	total: 23.7s	remaining: 35.4s
500:	learn: 0.6819987	test: 0.7960409	best: 0.7960076 (497)	total: 29.7s	remaining: 29.6s
600:	learn: 0.6632536	test: 0.7930558	best: 0.7930558 (600)	total: 35.7s	remaining: 23.7s
700:	learn: 0.6475388	test: 0.7910231	best: 0.7909605 (694)	total: 41.9s	remaining: 17.9s
800:	learn: 0.6318098	test: 0.7908823	best: 0.7902233 (741)	total: 48s	remaining: 11.9s
900:	learn: 0.6164984	test: 0.7905744	best: 0.7901136 (875)	total: 54.1s	remaining: 5.94s
999:	learn: 0.6025809	test: 0.7896137	best: 0.7894974 (995)	total: 1m	remaining: 0us

bestTest = 0.7894974476
bestIteration = 995

Shrink model to first 996 iterations.
CV Log Loss Score: 0.789497

----------------- Fold 12 -----------------

Learning rate set to 0.115128
0:	learn: 1.0347568	test: 1.0335580	best: 1.0335580 (0)	total: 52.1ms	remaining: 52.1s
100:	learn: 0.7828715	test: 0.7908139	best: 0.7908139 (100)	total: 6.07s	remaining: 54s
200:	learn: 0.7519995	test: 0.7808764	best: 0.7808764 (200)	total: 12.2s	remaining: 48.3s
300:	learn: 0.7264301	test: 0.7746023	best: 0.7746023 (300)	total: 18.1s	remaining: 42.1s
400:	learn: 0.7065742	test: 0.7702614	best: 0.7702614 (400)	total: 24.8s	remaining: 37s
500:	learn: 0.6870709	test: 0.7637463	best: 0.7636975 (496)	total: 31s	remaining: 30.9s
600:	learn: 0.6699090	test: 0.7600637	best: 0.7600637 (600)	total: 37.1s	remaining: 24.6s
700:	learn: 0.6527041	test: 0.7575684	best: 0.7575684 (700)	total: 43.2s	remaining: 18.4s
800:	learn: 0.6371764	test: 0.7549475	best: 0.7549475 (800)	total: 49.2s	remaining: 12.2s
900:	learn: 0.6212533	test: 0.7549778	best: 0.7546207 (869)	total: 55.4s	remaining: 6.08s
999:	learn: 0.6061291	test: 0.7518289	best: 0.7518289 (999)	total: 1m 1s	remaining: 0us

bestTest = 0.7518289193
bestIteration = 999

CV Log Loss Score: 0.751829

----------------- Fold 13 -----------------

Learning rate set to 0.115128
0:	learn: 1.0345963	test: 1.0348500	best: 1.0348500 (0)	total: 43ms	remaining: 43s
100:	learn: 0.7799300	test: 0.7997058	best: 0.7997058 (100)	total: 5.7s	remaining: 50.7s
200:	learn: 0.7501913	test: 0.7914434	best: 0.7914434 (200)	total: 11.6s	remaining: 46.2s
300:	learn: 0.7268355	test: 0.7864537	best: 0.7864537 (300)	total: 17.5s	remaining: 40.6s
400:	learn: 0.7065393	test: 0.7811084	best: 0.7811084 (400)	total: 23.5s	remaining: 35.1s
500:	learn: 0.6858466	test: 0.7787001	best: 0.7786543 (499)	total: 29.5s	remaining: 29.4s
600:	learn: 0.6657885	test: 0.7773267	best: 0.7766985 (576)	total: 35.6s	remaining: 23.7s
700:	learn: 0.6492219	test: 0.7752801	best: 0.7748669 (674)	total: 41.7s	remaining: 17.8s
800:	learn: 0.6332390	test: 0.7727157	best: 0.7726800 (799)	total: 47.9s	remaining: 11.9s
900:	learn: 0.6158678	test: 0.7717874	best: 0.7716736 (836)	total: 53.9s	remaining: 5.93s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.7716735589
bestIteration = 836

Shrink model to first 837 iterations.
CV Log Loss Score: 0.771674

----------------- Fold 14 -----------------

Learning rate set to 0.115128
0:	learn: 1.0347324	test: 1.0337953	best: 1.0337953 (0)	total: 40.4ms	remaining: 40.3s
100:	learn: 0.7818319	test: 0.7904561	best: 0.7904561 (100)	total: 6.02s	remaining: 53.6s
200:	learn: 0.7514790	test: 0.7838144	best: 0.7836871 (199)	total: 11.9s	remaining: 47.4s
300:	learn: 0.7270874	test: 0.7770513	best: 0.7770513 (300)	total: 17.7s	remaining: 41.2s
400:	learn: 0.7046715	test: 0.7718707	best: 0.7718707 (400)	total: 23.7s	remaining: 35.5s
500:	learn: 0.6843228	test: 0.7707167	best: 0.7705565 (480)	total: 29.7s	remaining: 29.6s
600:	learn: 0.6649127	test: 0.7670577	best: 0.7667113 (595)	total: 35.7s	remaining: 23.7s
700:	learn: 0.6476283	test: 0.7663433	best: 0.7662469 (686)	total: 41.8s	remaining: 17.8s
800:	learn: 0.6312602	test: 0.7656113	best: 0.7650347 (781)	total: 48.1s	remaining: 11.9s
900:	learn: 0.6146726	test: 0.7639321	best: 0.7637089 (894)	total: 54s	remaining: 5.93s
999:	learn: 0.6013657	test: 0.7633641	best: 0.7632642 (993)	total: 1m	remaining: 0us

bestTest = 0.7632642083
bestIteration = 993

Shrink model to first 994 iterations.
CV Log Loss Score: 0.763264
	Log Loss: 0.767486

In [77]:
# from sklearn.metrics import plot_confusion_matrix
# plt.rcParams['figure.figsize'] = (16,16)
# plot_confusion_matrix(cbt_clf, X_val, y_val)

In [48]:
sub = pd.read_csv('data/sample_submission.csv')

In [49]:
sub.iloc[:, 1:] = cat_pred_test
sub

      index         0         1         2
0     26457  0.224283  0.753219  0.022498
1     26458  0.113707  0.241356  0.644936
2     26459  0.140998  0.208679  0.650323
3     26460  0.204482  0.160781  0.634737
4     26461  0.074417  0.135251  0.790332
...     ...       ...       ...       ...
9995  36452  0.064593  0.134063  0.801344
9996  36453  0.175166  0.816542  0.008292
9997  36454  0.130185  0.245759  0.624055
9998  36455  0.150296  0.284317  0.565387
9999  36456  0.212582  0.202937  0.584481

[10000 rows x 4 columns]

In [50]:
sub.to_csv('data/GH_1103_ver2_Cat.csv', index=False)

# 과적합되었음.

## 잠깐 대기 (다음에 진행할 예정)

In [53]:
# 칼럼 리스트 분류
append_list = ['family_size', 'Nth_card', 'contact_num']
object_list = train.dtypes[train.dtypes == "object"].index.tolist()

for i in range(len(append_list)):
    object_list.append(append_list[i])

# OrdinalEncoder 시행
enc = OrdinalEncoder()

train[object_list] = enc.fit_transform(train[object_list], train['credit'])
test[object_list] = enc.transform(test[object_list])

In [54]:
numeric_list = ['income_total', 'begin_month', 'age_total', 'work_total', 'income_mean']

def scaler(df_1, df_2, col_name):
    scaler_ = MinMaxScaler()
    df_1[col_name] = scaler_.fit_transform(df_1[col_name])
    df_2[col_name] = scaler_.transform(df_2[col_name])
    
scaler(train, test, numeric_list)

In [55]:
names = ['train', 'test']

for name,dataset in zip(names, [train, test]):
    dataset.to_csv('{}final_set_{}.csv'.format(path,name))

In [56]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        26457 non-null  float64
 1   car           26457 non-null  float64
 2   reality       26457 non-null  float64
 3   income_total  26457 non-null  float64
 4   income_type   26457 non-null  float64
 5   edu_type      26457 non-null  float64
 6   family_type   26457 non-null  float64
 7   house_type    26457 non-null  float64
 8   occyp_type    26457 non-null  float64
 9   family_size   26457 non-null  float64
 10  begin_month   26457 non-null  float64
 11  credit        26457 non-null  float64
 12  age_total     26457 non-null  float64
 13  work_total    26457 non-null  float64
 14  ID            26457 non-null  float64
 15  Nth_card      26457 non-null  float64
 16  income_mean   26457 non-null  float64
 17  contact_num   26457 non-null  float64
dtypes: float64(18)
memory usage: 3.6 MB

In [58]:
train.drop(columns=['ID','occyp_type'], inplace=True)
test.drop(columns=['ID','occyp_type'], inplace=True)

In [62]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()
a = ['income_type', 'edu_type', 'family_type', 'house_type', 'gender','car','reality']
enc.fit(train[a])
train[a] = enc.transform(train[a])
test[a] = enc.transform(test[a])

ValueError: Columns must be same length as key